* {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 4px;
}

body {
    background-image: url(indexhatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: auto;
    border: 1px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.kartyak {
    float: left;
    padding: 10px;
    height: auto;
    border: 2px solid black;
    width: 30%;
    margin: 5px;
}
.row{
    display: flex;

}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .kartyak {
        width: 100%;
    }
}

#kartya {
    font-size: 15px;
}

#kartyamain {
    background: rgba(255, 255, 255, 0.160);
}

.choiceButton {
    display: block;
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.choiceButton:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

.choiceButton:active {
    transform: translateY(0.25em);
}

#main {
    background: rgba(255, 255, 255, 0.160);
    font-size: 15px;
}

#gombokmain {
    background: rgba(255, 255, 255, 0.160);
}

#harc {
    background: rgba(255, 255, 255, 0.160);
}

img{
    width: auto;
    height: 350px;
    margin: auto;
}

/*kicserélni: https://codepen.io/yuhomyan/pen/OJMejWJ*/

#ivas {
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#ivas:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

#eves {
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#eves:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

.generalas {
    display: block;
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.generalas:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

.ujrakezdes {
    display: block;
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.ujrakezdes:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

.ujrakezdes:active {
    transform: translateY(0.25em);
}