* {
    box-sizing: border-box;
    border-radius: 15px;
    margin: 4px;
}

body {
    background-image: url(indexhatter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

.column {
    float: left;
    width: 100%;  /*50% helyett*/
    padding: 10px;
    height: auto;
    border: 1px solid black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.kartyak {
    float: left;
    padding: 10px;
    height: auto;
    border: 2px solid black;
    width: 30%;
    margin: 5px;
}
.row{
    display: flex;

}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    .kartyak {
        width: 100%;
    }
}

#kartya {
    font-size: 15px;
}

#kartyamain {
    background: rgba(255, 255, 255, 0.160);
}

.choiceButton {
    display: block;
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.choiceButton:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

.choiceButton:active {
    transform: translateY(0.25em);
}

#main {
    background: rgba(255, 255, 255, 0.160);
    font-size: 15px;
}

#gombokmain {
    background: rgba(255, 255, 255, 0.160);
}

#harc {
    background: rgba(255, 255, 255, 0.160);
}

img{
    width: auto;
    height: 350px;
    margin: auto;
}

/*kicserélni: https://codepen.io/yuhomyan/pen/OJMejWJ */

#ivas, #eves, .generalas{
    text-align: center;
    width: 60px;
    height: 30px;
    color: rgb(26, 26, 26);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-left: 15px;
    z-index: 1;
}
#ivas:after, #eves:after, .generalas:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #029816;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
#ivas:hover, #eves:hover, .generalas:hover{
    color: #fff;
}
#ivas:hover:after, #eves:hover:after, .generalas:hover:after {
    left: 0;
    width: 100%;
}
#ivas:active, #eves:active, .generalas:active {
    top: 2px;
}

.ujrakezdes {
    display: block;
    background-color: rgb(142, 209, 170);
    font-size: 15px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.ujrakezdes:hover {
    box-shadow: 0 0.5em 0.5em -0.4em rgb(70, 190, 70);
    transform: translateY(-0.25em);
}

.ujrakezdes:active {
    transform: translateY(0.25em);
}

#enemy h2, #enemy p {
  text-align: center;
  padding-top: 5pxpx;
}

#enemy h2 {
  padding-top: 20px;
}

.targyakgomb {    
  text-align: center;
  width: 100px;
  height: 30px;
  color: rgb(26, 26, 26);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background-color: rgb(142, 209, 170);
  font-size: 15px;
  padding: 5px 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  z-index: 1;
}

#skillugyesseg::-webkit-progress-value { background: rgb(61, 90, 255); }
#luckszerencse::-webkit-progress-value { background: rgb(45, 168, 52); }
#health::-webkit-progress-value { background: rgb(254, 30, 30); }


/*footer*/
body {
  display: grid;
  grid-template-rows: 1fr 10rem auto;
  grid-template-areas: "main" "." "footer";
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}
body .footer {
  z-index: 1;
  --footer-background:#65a765;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 0.75rem;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.25rem 0;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}